.side{
    display: flex;
    /* margin-top: 5px; */
    /* background-color: bisque; */
    background-color: rgb(197, 234, 252);;
}

.others{
    flex:4;
    /* background-color: aqua; */
    background-color: rgb(99, 181, 219);;
}